/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}


h1,h2{
    text-decoration: underline;
}
.btn_primary{
    text-decoration: none;
    padding: 10px 30px;
    background-color: blue;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}
.btn_primary:hover{
    border-radius: 50px;
}

/* Header styling */

header {
    text-align: center;
    padding: 15px 0;
    background-color: #2a2a2a;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Image section styling */
.hero_section{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: left;
    justify-content: center;
    min-height: 60vh;
}
.hero_section .div_styles{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    flex: 1;
}
.hero_section article{
    display: flex;
}
.hero_section img{
    width: 50px;
}
.hero_section p{
   text-align: left;
   font-size: medium; 
}
.img_wrapper{
    display: flex;
    justify-content: center;
}
.img_wrapper img{
    border-radius: 50%;
    width: 100%;
    height: auto;
    /* aspect-ratio: ; */
}

.socials a{
    padding: 10px;
    border:2px solid blue;
    display: flex;
    align-items: center;
    margin: 0 12px;
}
.socials a img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
/* Grid layout for portfolio */


/* Background colors for specific sections */
section{
    max-width: 800px;
    margin: 0 auto;


}
.section_general_styles{
    padding: 20px;
    display: flex;
    flex-direction:column ;
    gap:10px
    
}
.section_general_styles{
    font-size:medium
}

aside{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 2px solid blue;
    box-shadow: 0 0 20px blue;
}
.about h2{
     text-align: center;
}
.about ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about li {
    list-style: none;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
}
.skills li{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 150px;
    justify-content: center;
    align-items: center;
}
.skills li img{
   width: 50px;
}
.image-text h2 {
    font-size: 36px; 
    margin-bottom: 10px; 
}


.image-text p {
    font-size: 18px;
}

.contact_form_wrapper{
    background-color: #0000;
}
.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-top: 0;
    color: white;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width:100%;
}

.form-group button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px ;
    background-color: #2a2a2a;
    color: white;
    border-top: 2px solid #4fb2da; /* Subtle accent color */
}

footer p{
    font-size: small;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
}

.logo {
    font-size: 24px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.remove{
    display: none;
}
.line_2_rotate{
    transform: rotate(-45deg);
}
.line_3_rotate{
    transform: rotate(45deg) translateY(-6px) translateX(-5px)
}
.overflowY_hidden{
    overflow-y: hidden !important;
}
/* Responsive Styling */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        left: 0;
        justify-content: center;
        height: 100vh;
        padding: 10px;
        gap: 20px;
        top: 0;
        background-color: #333;
        flex-direction: column;
        width: 90%;
        transform: translateX(-200%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 20px;
        padding: 20px;
    }

    .burger {
        display: block;
        transition: all 0.5s;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-links li {
        opacity: 1;
        transition: opacity 0.5s ease-in 0.2s;
    }
    .hero_section{
        flex-direction: column-reverse;
        padding: 0 40px;
    }

}

